body {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  font-family: 'Caesar Dressing', cursive;
  background-color: #9702A1;
  background-image: url('../img/camiseta.png');
  background-blend-mode: overlay;
  -webkit-animation: random .5s infinite;
  animation: random .5s infinite;
}

@keyframes random {
  15% {
    background-color: #9702A1
  }
  30% {
    background-color: #7302AB;
  }
  45% {
    background-color: #3E0694;
  }
  60% {
    background-color: #1702AB;
  }
  75% {
    background-color: #0219A1;
  }
}

svg {
  height: 50vh;
}

div {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.mobile {
  font-size: 2.4rem;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  color: #fff;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.89);
  height: 100vh;
  width: 100vw;
  margin: 0;
  z-index: 1;
}

h1,
h2 {
  display: none;
}

img {
  width: 45%;
  position: absolute;
  top: 15vh;
  left: 27%;
  right: 0;
}

.hide {
  display: none;
}

@media screen and (min-width: 1024px) {
  .backdrop {
    display: none;
  }
}